body {
    width:60%;
    background-color: lightblue;
    margin: 0 auto;
    margin-top: 50px;
}
#gifs {
    clear:both;
    float: left;
    width: 50%;
}
#input {
    float: right;
}
button {
    margin: 10px;
}
img {
    width: 200px;
}